<?xml version="1.0" encoding="UTF-8"?>

<phpunit
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     backupGlobals="true"
     backupStaticAttributes="false"
     colors="true"
>

    <testsuites>
        <testsuite name="OxPeckerData test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist
            addUncoveredFilesFromWhitelist="true"
            processUncoveredFilesFromWhitelist="true"
        >
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
